/**
Typography
*/

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("../fonts/OpenSans-Bold.ttf");
}

h1, h2, p {
    font-family: "Open Sans", sans-serif
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 3.6em;
}

h2 {
    font-size: 2.4em
}

p, button {
    font-size: 1.2em
}

p {
    line-height: 1.6em;
    margin-bottom: 1.2em;
}

@media (max-width: 767.98px) {
    html {
        font-size: 14px;
    }
}

/**
article
 */

article > h1 {
    font-size: 2.6em;
    margin-bottom: 0.5em;
}

article > h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

article > h1:first-child,
article > h2:first-child {
    margin-top: 0;
}

article > h1,
article > h2,
article > h3 {
    margin-top: 2em;
}

.header-section-number {
    font-size: 0.6em;
    color: #767676;
}


/**
Spacing
 */

section {
    padding: 40px 0;
}

img.logo {
    margin: -10.3% -10.3%;
}

img.logo-side {
    margin: 0 -10.3%;
}

@media (max-width: 767.98px) {
    section {
        padding: 15px 0;
    }
}

/**
Colors
 */

section.inverted {
    background-color: #244471;
    color: #fff;
}

a, a:hover, a:focus,
.btn-link, .btn-link:hover, .btn-link:focus {
    color: #f28a20;
}

a:hover, a:focus,
.btn-link:hover, .btn-link:focus {
    text-decoration: underline;
}

.inverted a, .inverted a:hover, .inverted a:focus {
    color: #fff;
    text-decoration: underline;
}

.inverted a:hover, .inverted a:focus {
    opacity: 0.5
}


/**
Welcome view
*/

.adblock-warning {
    padding: 1em;
    background: #ef0000;
    margin: 0 40px 40px 40px;
}

.main {
    padding: 240px 40px;
}

.main .teaser {
    position: relative;
}

.main .teaser .spacer {
    height: 1.2em;
}

.main .resources {
    position: absolute;
    top: -240px
}

.main .tux {
    display: block;
    position: absolute;
    right: 0;
}

.main .logo-wrapper {
    margin-bottom: 80px;
    width: 28em;
}

@media (min-width: 1200px) {
    .main .tux {
        width: 32em;
        top: -9em;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .main .tux {
        width: 21em;
        top: -2em;
    }
}

@media (max-width: 991.98px) {
    .main .tux {
        display: none;
    }

    .main .logo-wrapper {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .main {
        padding: 20px 20px 40px 20px;
    }

    .main .resources {
        position: relative;
        top: 0;
    }

    .main .logo-wrapper {
        margin-bottom: 40px;
    }

    .main .teaser br {
        display: none;
    }
}


/**
Events list
*/

.event {
    padding: 40px;
    margin-bottom: 10px;
}

.event-alert {
    padding: 40px;
    margin-bottom: 10px;
    background-color: #244471;
    color: #fff;
}

.event.stammtisch {
    opacity: 0.7;
}

.event .subtitle {
    margin-bottom: 0
}

.event.stammtisch h2 {
    font-size: 1.2em;
}

.event .description {
    margin-top: 1em;
    margin-bottom: 0;
    display: none;
}

.event .links {
    margin-top: 1em;
    display: block;
}

.event .links .link {
    margin-right: 20px;
}

.event:hover {
    cursor: pointer;
    background-color: #244471;
    color: #fff;
}

.event.active {
    background-color: #244471;
    color: #fff;
}

.event.active .description {
    display: block;
}

.event .sponsor-image {
    max-height: 10em;
    max-width: 30%;
}

.history {
    margin: 40px;
}

@media (max-width: 767.98px) {
    .event {
        padding: 20px;
    }

    .history {
        margin: 20px;
    }
}


/**
Contact section
*/

.contact {
    padding: 40px;
}

.contact .team {
    margin-bottom: 80px;
}

.contact .motivation {
    background-color: white;
    color: black;
    margin-bottom: 80px;
    padding: 40px;
}

.team p {
    margin-bottom: 0;
    margin-top: 0.5em;
}

.team .ressort {
    opacity: 0.7;
}

.location .maps {
    height: 290px
}

@media (max-width: 991.98px) {
    .maps {
        display: none;
    }

    .vseth-logo {
        width: 10em;
    }
}

@media (max-width: 767.98px) {
    .contact {
        padding: 20px;
    }
}

@media (max-width: 575.98px) {
    .address {
        margin-bottom: 80px;
    }

    .team div {
        margin-bottom: 20px;
    }
}


/**
Footer
*/

.footer {
    padding: 80px 40px 0 40px;
}

.footer .interpretation {
    margin-bottom: 80px;
}

@media (max-width: 767.98px) {
    .footer {
        padding: 25px 20px 0 20px;
    }

    .footer .interpretation {
        margin-bottom: 40px;
    }
}


/**
General purpose pages
 */
.page-header {
    padding: 0 40px;
}

.page-content {
    padding: 80px 40px 0 40px;
}

.header .logo {
    padding: 0 40px
}

@media (max-width: 767.98px) {
    .page-header {
        padding: 0 20px;
    }

    .page-content {
        padding: 40px 20px 0 20px;
    }

    .header .logo {
        padding: 0 0px;
    }
}

/**
Sponsoring
 */
.plan {
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width: 767.98px) {
    .plan {
        margin-bottom: 40px;
    }
}


/**
bootstrap table of content plugin
 */
