<section class="inverted p-0">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-md-4 col-6 logo">
                    <a href="/">
                        <img class="img-fluid logo-side" src="/images/logo.svg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
