<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta lang="en">

    <!-- fav icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#244471">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#244471">

    <title>The Alternative</title>

    <link rel="stylesheet" href="/css/vendors.css?v=1">
    <link rel="stylesheet" href="/css/styles.css?v=5">

    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <meta name="description" content="We are students of ETH who help you with Linux. Because we love Open Source and Free Software and want to help you to get started.">
    <base href="/" target="_self">
</head>
